:root {
  --color-bg-default: var(--tp-popup-color-bg-default, #fff);
  --color-bg-secondary: var(--tp-popup-color-bg-secondary, #f2f5f8);
  --color-fg-default: var(--tp-popup-color-fg-default, #1e293b);
  --color-fg-primary: var(--tp-popup-color-fg-primary, #2e6fda);
  --color-fg-secondary: var(--tp-popup-color-fg-secondary, #64748b);
  --color-fg-selected: var(--tp-popup-color-fg-selected, #fff);
  --color-fg-muted: var(--tp-popup-color-fg-muted, #64748b);
  --color-fg-accent: var(--tp-popup-color-fg-accent, #e63757);
  --color-btn-primary-bg: var(--tp-popup-color-btn-primary-bg, #2e6fda);
  --color-btn-primary-fg: var(--tp-popup-color-btn-primary-fg, #fff);
  --color-btn-primary-border: var(--tp-popup-color-btn-primary-border, #2e6fda);
  --color-btn-primary-hover-bg: var(--tp-popup-color-btn-primary-hover-bg, #2c67cd);
  --color-btn-primary-hover-fg: var(--tp-popup-color-btn-primary-hover-fg, #fff);
  --color-btn-primary-hover-border: var(--tp-popup-color-btn-primary-hover-border, #2c67cd);
  --color-btn-primary-disabled-bg: var(--tp-popup-color-btn-primary-disabled-bg, #80aff8);
  --color-btn-primary-disabled-fg: var(--tp-popup-color-btn-primary-disabled-fg, #fff);
  --color-btn-primary-disabled-border: var(
    --tp-popup-color-btn-primary-disabled-border,
    #80aff8
  );
  --color-btn-secondary-bg: var(--tp-popup-color-btn-secondary-bg, #fff);
  --color-btn-secondary-fg: var(--tp-popup-color-btn-secondary-fg, #475569);
  --color-btn-secondary-border: var(--tp-popup-color-btn-secondary-border, #cbd5e1);
  --color-btn-secondary-hover-bg: var(--tp-popup-color-btn-secondary-hover-bg, #f8fafc);
  --color-btn-secondary-hover-fg: var(--tp-popup-color-btn-secondary-hover-fg, #475569);
  --color-btn-secondary-hover-border: var(
    --tp-popup-color-btn-secondary-hover-border,
    #cbd5e1
  );
  --color-btn-secondary-disabled-bg: var(
    --tp-popup-color-btn-secondary-disabled-bg,
    #cbd5e1
  );
  --color-btn-secondary-disabled-fg: var(--tp-popup-color-btn-secondary-disabled-fg, #fff);
  --color-btn-secondary-disabled-border: var(
    --tp-popup-color-btn-secondary-disabled-border,
    #cbd5e1
  );
  --color-border-default: var(--tp-popup-color-border-default, #cbd5e1);
  --color-border-locked: var(--tp-popup-color-border-locked, #f9f9f9);
  --day-width: var(--tp-popup-day-width, 43px);
  --day-height: var(--tp-popup-day-height, 37px);
  --border-radius: var(--tp-popup-border-radius, 2px);
  --primary-color: var(--tp-popup-primary-color, #2e6fda);
  --secondary-color: var(--tp-popup-secondary-color, #64748b);
  --font-family: var(--tp-popup-font-family, inherit);
  --box-shadow: var(--tp-popup-box-shadow, 0 4px 28px 0 rgb(0 0 0 / 12%));
}
* {
  box-sizing: border-box;
}
.container {
  border-radius: 4px;
  color: var(--color-fg-default);
  cursor: default;
  font-family: var(--font-family);
  font-size: 0.8em;
  overflow: hidden;
  pointer-events: all;
  box-shadow: var(--box-shadow);
  display: block;
}
.container > main {
  background-color: var(--color-bg-default);
}
.container > footer,
.container > header {
  background-color: var(--color-bg-secondary);
  padding: 10px;
}
.container > footer .footer-buttons {
  -moz-column-gap: 5px;
  column-gap: 5px;
  display: flex;
  justify-content: flex-end;
}
.container > footer .footer-buttons > button {
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--border-radius);
  cursor: pointer;
  padding: 6px 12px;
}
.container > footer .footer-buttons > button.apply-button {
  background-color: var(--color-btn-primary-bg);
  border-color: var(--color-btn-primary-border);
  color: var(--color-btn-primary-fg);
}
.container > footer .footer-buttons > button.apply-button:hover {
  background-color: var(--color-btn-primary-hover-bg);
  border-color: var(--color-btn-primary-hover-border);
  color: var(--color-btn-primary-hover-fg);
}
.container > footer .footer-buttons > button.apply-button:disabled {
  background-color: var(--color-btn-primary-disabled-bg);
  border-color: var(--color-btn-primary-disabled-border);
  color: var(--color-btn-primary-disabled-fg);
  cursor: default;
}
.container > footer .footer-buttons > button.cancel-button {
  background-color: var(--color-btn-secondary-bg);
  border-color: var(--color-btn-secondary-border);
  color: var(--color-btn-secondary-fg);
}
.container > footer .footer-buttons > button.cancel-button:hover {
  background-color: var(--color-btn-secondary-hover-bg);
  border-color: var(--color-btn-secondary-hover-border);
  color: var(--color-btn-secondary-hover-fg);
}
.container > footer .footer-buttons > button.cancel-button:disabled {
  background-color: var(--color-btn-secondary-disabled-bg);
  border-color: var(--color-btn-secondary-disabled-border);
  color: var(--color-btn-secondary-disabled-fg);
  cursor: default;
}
.calendars:not(.grid-1) .calendar > .header .month-name {
  order: 2;
  text-align: center;
}
.calendars:not(.grid-1) .calendar > .header .previous-button {
  order: 1;
  visibility: hidden;
}
.calendars:not(.grid-1) .calendar > .header .next-button {
  order: 3;
  visibility: hidden;
}
.calendars:not(.grid-1) .calendar:first-child > .header .previous-button,
.calendars:not(.grid-1) .calendar:last-child > .header .next-button {
  visibility: visible;
}
.calendar {
  padding: 10px;
}
.calendar > .header {
  align-items: center;
  -moz-column-gap: 5px;
  column-gap: 5px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.calendar > .header .month-name {
  flex: 1;
  font-size: 15px;
  font-weight: 500;
}
.calendar > .header .month-name > span {
  font-weight: 700;
}
.calendar > .header button {
  align-items: center;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--color-btn-secondary-fg);
  fill: var(--color-btn-secondary-fg);
  cursor: pointer;
  display: flex;
  justify-content: center;
  padding: 4px 7px;
}
.calendar > .header button:hover {
  background-color: var(--color-bg-secondary);
}
.calendar > .header button:hover > img,
.calendar > .header button:hover > svg {
  color: var(--color-fg-primary);
}
.calendar > .header button > img,
.calendar > .header button > svg {
  color: var(--color-btn-secondary-fg);
  pointer-events: none;
  transform: scale(0.7);
}
.calendar > .daynames-row,
.calendar > .days-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  row-gap: 2px;
}
.calendar > .daynames-row > .day,
.calendar > .daynames-row > .dayname,
.calendar > .days-grid > .day,
.calendar > .days-grid > .dayname {
  align-items: center;
  cursor: default;
  display: flex;
  flex-direction: column;
  font-size: 13px;
  justify-content: center;
}
.calendar > .daynames-row > .dayname {
  color: var(--color-fg-muted);
  font-size: 12px;
  padding: 5px 0;
}
.calendar > .days-grid > .day {
  border: 1px solid transparent;
  border-radius: 2px;
  height: var(--day-height);
  max-height: var(--day-height);
  max-width: var(--day-width);
  min-height: var(--day-height);
  min-width: var(--day-width);
  padding: 10px 0;
  width: var(--day-width);
}
.calendar > .days-grid > .day:hover {
  border: 1px solid var(--color-fg-primary);
  color: var(--color-fg-primary);
}
.calendar > .days-grid > .day.today {
  color: var(--color-fg-accent);
}
.calendar > .days-grid > .day.selected {
  background-color: var(--color-fg-primary);
  color: var(--color-fg-selected);
}
@media (max-width: 480px) {
  .container {
    transform: scaleY(0) !important;
    transform-origin: bottom center !important;
  }
  .container.show {
    bottom: 0 !important;
    left: 0 !important;
    position: fixed !important;
    right: 0 !important;
    top: auto !important;
    transform: scaleY(1) !important;
  }
  .container {
    width: 100%;
  }
  .calendars {
    grid-template-columns: repeat(1, 1fr);
  }
  .calendars .calendar {
    box-sizing: border-box;
    width: 100%;
  }
  .calendars .calendar:nth-child(n + 2) {
    display: none;
  }
  .calendars .calendar > .days-grid > .day {
    height: auto;
    max-height: unset;
    max-width: unset;
    min-height: unset;
    min-width: unset;
    width: auto;
  }
  .calendars .calendar > .header:not(.no-next-month) .next-button {
    visibility: visible;
  }
}

:root {
  --color-bg-inrange: var(--tp-popup-color-bg-inrange, #e6effe);
  --color-bg-tooltip: var(--tp-popup-color-bg-tooltip, #fff);
  --color-fg-tooltip: var(--tp-popup-color-fg-tooltip, #1e293b);
}
.range-tooltip {
  background-color: var(--color-bg-tooltip);
  border-radius: var(--border-radius);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  color: var(--color-fg-tooltip);
  font-size: 12px;
  margin-top: -4px;
  padding: 4px 8px;
  pointer-events: none;
  position: absolute;
  visibility: hidden;
  white-space: nowrap;
  z-index: 2;
}
.range-tooltip:before {
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid rgba(0, 0, 0, 0.12);
  bottom: -5px;
  content: '';
  left: calc(50% - 5px);
  position: absolute;
}
.range-tooltip:after {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid var(--color-bg-tooltip);
  bottom: -4px;
  content: '';
  left: calc(50% - 4px);
  position: absolute;
}
.container.range .calendar > .days-grid > .day {
  position: relative;
}
.container.range .calendar > .days-grid > .day.in-range:last-of-type {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.container.range .calendar > .days-grid > .day.in-range {
  background-color: var(--color-bg-inrange);
  border-radius: 0;
}
.container.range .calendar > .days-grid > .day.end,
.container.range .calendar > .days-grid > .day.start {
  background-color: var(--color-fg-primary);
  color: var(--color-fg-selected);
}
.container.range .calendar > .days-grid > .day.start {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.container.range .calendar > .days-grid > .day.start:after {
  border: 8px solid transparent;
  border-left: 8px solid var(--color-fg-primary);
  content: '';
  pointer-events: none;
  position: absolute;
  right: -14px;
  z-index: 2;
}
.container.range .calendar > .days-grid > .day.start.flipped {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: var(--border-radius);
  border-top-left-radius: 0;
  border-top-right-radius: var(--border-radius);
}
.container.range .calendar > .days-grid > .day.start.flipped:after {
  border-left-color: transparent;
  border-right-color: var(--color-fg-primary);
  left: -14px;
  right: auto;
}
.container.range .calendar > .days-grid > .day.end {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.container.range .calendar > .days-grid > .day.end:after {
  border: 8px solid transparent;
  border-right: 8px solid var(--color-fg-primary);
  content: '';
  left: -14px;
  pointer-events: none;
  position: absolute;
  z-index: 2;
}
.container.range .calendar > .days-grid > .day.end.flipped {
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: 0;
  border-top-left-radius: var(--border-radius);
  border-top-right-radius: 0;
}
.container.range .calendar > .days-grid > .day.end.flipped:after {
  border-left-color: var(--color-fg-primary);
  border-right-color: transparent;
  left: auto;
  right: -14px;
}
.container.range .calendar > .days-grid > .day.start.end {
  border-radius: var(--border-radius);
}
.container.range .calendar > .days-grid > .day.start.end:after {
  content: none;
}
.container.range .calendar > .days-grid > div:not(.day) + .day.in-range {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
.container.range .calendar > .days-grid > div:nth-child(7n).in-range {
  border-bottom-right-radius: var(--border-radius);
  border-top-right-radius: var(--border-radius);
}
.container.range .calendar > .days-grid > div:nth-child(7n + 1).in-range {
  border-bottom-left-radius: var(--border-radius);
  border-top-left-radius: var(--border-radius);
}
